:root { 
    --cor-branca:#FFFFFF;
    --cor-branca-900: #f2f2fc;
    --cor-branca-100: #fdf9ff;
    --cor-branca-50: #e8dfec;
    --cor-azul:#007CED;
    --cor-preta-1:#222222;
    
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;

}

.section {
    background: var(--cor-preta-1);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

section .ativo{
    z-index: 2;
    opacity: 1;
}

.hidden{
    display: none !important;
}

:target {
    scroll-behavior: smooth;
}


.div-conteudo {
    padding-left: 270px;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container1 {
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

section .container1{
    padding-top: 60px;
    padding-bottom: 70px;
}

.container-geral{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.container-geral h2{
    font-size: 40px;
    color: var(--cor-branca);
    font-weight: 700;
    position: relative;
}

.container-geral h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--cor-azul);
    position: absolute;
    top: 100%;
    left: 0;
}

.container-geral h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--cor-azul);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.container-filho {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.contrate {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--cor-azul);
    transition: all 0.3s ease;
    margin: 0.5rem;
}


.contrate:hover {
    transform: scale(1.05);
}

.img-icons {
    width: 25px;
}

.div-secundaria {
    width: 270px;
    background: #333333;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--cor-branca-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.div-secundaria .icons {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.div-secundaria .icons a {
    color: var(--texto-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}



.div-secundaria .icons a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--cor-azul);
    border-left: 5px solid var(--cor-azul);
    bottom: 0;
    left: 0;
}

.div-secundaria .icons a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--cor-azul);
    border-right: 5px solid var(--cor-azul);
    top: 0;
    right: 0;
}

.div-secundaria .icons a{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.div-secundaria .nav-alteracao {
    height: 40px;
    width: 45px;
    border: 1px solid var(--cor-branca-50);
    cursor: pointer;
    position: fixed;
    display: none;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--cor-branca-100);
    align-items: center;
    justify-content: center;
}


.div-secundaria .nav-alteracao span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(-);
    position: absolute;
    top: -6px;
    left: 0;
}

.div-secundaria .nav-alteracao span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--cor-azul);
    position: absolute;
    top: 6px;
    left: 0;
}

.div-secundaria .nav {
    margin-top: 50px;
}

.div-secundaria .nav li {
    margin-bottom: 20px;
    display: block;
}

.div-secundaria .nav a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--cor-branca-50);
    color: #D9D9D9;
    padding: 5px 15px;
}

.div-secundaria .nav li a.ativo {
    color: var(--cor-azul);
}

.div-secundaria .nav li a i {
    margin-right: 15px;
}

.home-secao {
    min-height: 100vh;
    display: flex;
    color: var(--cor-branca);
}

.home-secao .container-neto {
    flex: 0 0 60%;
    max-width: 60%;
}

.ola  {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin: 15px 0;
}

span {
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--cor-azul);
}

.profissao {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin: 15px 0;
}

.tipo {
    color: var(--cor-azul);
}

.home-secao p {
    margin-bottom: 70px;
    font-size: 20px;
    color: #D9D9D9;
    font-family: "Poppins", sans-serif;
}

.home-secao .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home-secao .home-img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
}
/*habilidades*/

.habilidades-subtitulo{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}

.habilidades-subtitulo2{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}

.habilidades-subtitulo h3{
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    color: var(--cor-branca);
    padding-bottom: 22px;
}

.habilidades-subtitulo2 h3{
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    color: var(--cor-branca);
    padding-bottom: 22px;

}

.container-filho .item-habilidades{
    padding-bottom: 20px;
}

.container-filho .item-habilidades h4{
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--cor-branca);
    gap: 20px;

}

.container-filho .item-habilidades p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin-left: 80px;
    color: #D9D9D9;
}

.container-filho .habilidades-texto h3{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--cor-branca);
}

.container-filho .container-geral h2{
    font-family: "Poppins", sans-serif;
    color: var(--cor-branca);

}

.habilidades-subtitulo2 .skills-habilidades{
    flex: 0 0 100%;
    max-width: 100%;
}

.habilidades-subtitulo2 .skills-habilidades h5{
    line-height: 40px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--cor-branca);
    text-transform: capitalize;
}

.habilidades-subtitulo2 .skills-habilidades .progresso{
    background-color: var(--cor-preta-1);
    height: 7px;
    border-radius: 4px;
    border: 1.5px solid #444444;
    width: 100%;
    position: relative;
}

.habilidades-subtitulo2 .skills-habilidades{
    margin-bottom: 30px;
}

.habilidades-subtitulo2 .skills-habilidades .progresso .progresso-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--cor-azul);
}

.habilidades-subtitulo2 .skills-habilidades .skills-porcetagem{
    position: absolute;
    right: 0;
    color: #D9D9D9;
    top: -40px;
    line-height: 40px;
}

.skills-habilidades{
    padding-bottom: 29px;
}
/*Projetos*/

/*soft kills*/

.soft-itens{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}

.soft-itens2{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 40px;
}


.soft-itens  .timeline-caixa{
    flex: 0 0 100%;
    max-width: 100%;
}

.soft-itens2 .timeline-caixa{
    flex: 0 0 100%;
    max-width: 100%;
}

.soft-itens .timeline{
    background-color: #333333;
    padding: 30px 15px;
    border: 1px solid var(--cor-preta-1);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.soft-itens .timeline h4{
    font-size: 20px;

    color: var(--cor-branca);
    font-family: "Poppins", sans-serif;
}

.soft-itens .timeline h4  .fa-qrcode{
    color: black;
    margin: 10px;
}

.soft-itens .timeline p{
    color: #D9D9D9;
    font-family: "Poppins", sans-serif;
}

.soft-itens .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}


.soft-itens2 .timeline{
    background-color: #333333;
    padding: 30px 15px;
    border: 1px solid var(--cor-preta-1);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.soft-itens2 .timeline h4  .fa-qrcode{
    color: black;
    margin: 10px;
}

.soft-itens2 .timeline h4{
    font-size: 20px;
    color: var(--cor-branca);
    font-family: "Poppins", sans-serif;
}

.soft-itens2 .timeline p{
    color: #D9D9D9;
    font-family: "Poppins", sans-serif;
}

.soft-itens2 .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}



/*Projetos*/

.projetos-1{
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    gap: 25px;
}

.card {
    position: relative;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    font-family: "Poppins", sans-serif;
    margin: 10px 0 0;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }

  /*contato*/

  .div-contato{
    flex: 0 0 32%;
    max-width: 100%;
  }

  .div-contato .contato-itens{
    margin: 33px;
  }

  .div-contato .contato-itens h4{
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: var(--cor-branca);
    gap: 17px;
  }

  .div-contato .contato-itens p{
    padding: 0 0 0 90px;
    color: #D9D9D9;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }

  .div-contato2 .contato-item{
    flex: 0 0 68%;
    max-width: 100%;
  }

.div-contato2{
    margin-top: 55px;
}

  .div-contato2 h3{
    font-family: "Poppins", sans-serif;
    color: var(--cor-branca);
    margin-left: 40px;
  }

.div-contato2 .controle-forma{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--cor-branca);
    background: #222222;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    margin: 26px;
    width: 512px;
    height: 53px;
}

.div-contato2 .controle-forma2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--cor-branca);
    background: #222222;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    margin: 26px;
    width: 512px;
    height: 212px;
}

.contato-usuario2{
    margin-left: 215px;
}

  
@media (max-width:1199px){
    .div-secundaria{
        left: -270px;
    }

    .div-conteudo{
        padding-left: 0;
    }

    .section-habilidades .habilidades-subtitulo .habilidades-subtitulo2 .skills-habilidades .skills-porcetagem p{
        display: block;
        margin-left: 0;
    }


    .projetos-1{
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:991px){
    .home-secao .container-neto{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-secao .home-img{
        display: none;
    }
}

@media(max-width:757px){
    .section-habilidades .habilidades-subtitulo2{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contato .div-contato2{
        flex: 0 0 100%;
        max-width: 100%;
    }
}